<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Project-pages-template : Templates for your SUSE project pages on github" />

    <link rel="stylesheet" type="text/css" media="screen" href="assets/stylesheets/overrides.css">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/stylesheets/font-awesome.min.css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="assets/stylesheets/font-awesome-ie7.min.css">
    <![endif]-->
    <title>Project GH-Pages Template: Home</title>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="./index.html"><img src="assets/images/suse-header-logo.png" /></a>
          <ul class="nav">
            <li class="active">
              <a href="./index.html">Home</a>
            </li>
            <li>
              <a href="./roadmap.html">Roadmap</a>
            </li>
            <li>
              <a href="./faq.html">FAQ</a>
            </li>
            <li>
              <a href="./help.html">Help</a>
            </li>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="jumbotron masthead">
      <div class="container">
          <h1>GH-Pages Templates</h1>
            <p>The quickest way to create gh-pages with a SUSE touch</p>
            <p>
              <a class="btn btn-inverse btn-large" href="http://github.com/kwwii/Project-Pages-Template/archive/gh-pages.zip">
              <i class="icon-download icon-2x pull-left"></i>Download GH-Pages <br>Templates v0.1
              </a>
              <a class="btn btn-inverse btn-large" href="http://github.com/kwwii/Project-Pages-Template/tree/gh-pages">
              <i class="icon-github icon-2x pull-left"></i>View Project <br>on GitHub
              </a>
            </p>
            <ul class="inline">
              <li><a href="#screenshots">Examples & Screenshots</a></li>
              <li><a href="#release-notes">Release Notes</a></li>
              <li>Version 0.1</li>
            </ul>
      </div>
    </div>
    <div class="content">
      {{ content }}
    </div>
    <div class="footer">
      <div class="container">
        <ul class="inline">
          <li><a>Built for SUSE Linux</a></li>
          <li><a>Contact</a></li>
          <li><a>License</a></li>
        </ul>
      </div>
    </div>
    <script type="text/javascript" src="assets/javascripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="assets/javascripts/bootstrap.min.js"></script>
  </body>
</html>


