<div class="jumbotron masthead">
  <div class="container">
      <h1>GH-Pages Templates</h1>
        <p>The quickest way to create gh-pages with a SUSE touch</p>
        <p>
          <a class="btn btn-inverse btn-large" href="http://github.com/kwwii/Project-Pages-Template/archive/gh-pages.zip">
          <i class="icon-download icon-2x pull-left"></i>Download GH-Pages <br>Templates v0.1
          </a>
          <a class="btn btn-inverse btn-large" href="http://github.com/kwwii/Project-Pages-Template/tree/gh-pages">
          <i class="icon-github icon-2x pull-left"></i>View Project <br>on GitHub
          </a>
        </p>
        <ul class="inline">
          <li><a href="#screenshots">Examples & Screenshots</a></li>
          <li><a href="#release-notes">Release Notes</a></li>
          <li>Version 0.1</li>
        </ul>
  </div>
</div>