<div id="release-notes" class="container module">
  <h2 class="page-header"><i class="icon icon-file-alt"></i> Release Notes - v0.1</h2>
  
  <h4>First Design</h4>
  <p>This is the very first release. It includes a modern yet serious design. Feel free to adjust anything as you'd like but don't blame me if you mess things up!</p>

  <h4>Modular, kinda</h4>
  <p>The real content is included in the snippets in includes. Most everything else is icing on the cake. Each file defines which layout it should use and which snippets are to be included. One can also include content and it will be injected in the middle of the layout. </p>

  <h4>Includes Bootstrap</h4>
  <p>A static version of <a href="http://twitter.github.io/bootstrap">bootstrap</a> is included with both CSS and javascript. The screenshot carousel, for instance is pretty much plug-n-play bootstrap</p>

  <h4>Includes Font-Awesome</h4>
  <p><a href="http://fortawesome.github.io/Font-Awesome/">Font-Awesome</a> removes the need for sprites and icons as it contains hunderds of icon in a font. Just use an "i" tag with the proper classes.</p>
</div>