<div id="roadmap" class="container module">
  <h2 class="page-header"><i class="icon icon-road"></i> Roadmap to v0.2 </h2>

  <div class="lead">Version 0.2 should have a finished design and structure including all the snippets as include that all our projects need.</div>

  <h4>Detailed Changes for v0.2</h4>
    <ol>
      <li>Collect information on which projects want to use these templates and what their needs are</li>
      <li>Create the modules needed for all sites</li>
      <li>Get markdown working(?)</li>
      <li>Include all ui elements as snippets, build entire page this way</li>
      <li>Use more liquid variables to automate things more</li>
    </ol>
</div>